body {
	margin: 0px;
	padding: 0px;
	background-color:#000000;
}

.box1 {
	width:60%;
	height:500px;
	margin-top: 150px;
	margin-left: 360px;
	display: inline-block;
}

.boxe {
	width:50% ;
	height:500px;
	background-size: cover;
	background-image: url(https://img.freepik.com/free-vector/abstract-dynamic-pattern-wallpaper-vector_53876-59131.jpg?size=338&ext=jpg); ;
	float: left;
	border-top-left-radius:20px; 
	border-bottom-left-radius:20px;
	
	}

.boxd {
	width:50% ;
	height:500px;
	background-color:#fcfcfc;
	float: right;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;

	 
	}

form {
	text-align: center;
	margin-top: 30px;
}

input[type=text] {
	width: 70%;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border:1px solid #b2b2b2;
}

input[type=password] {
	width: 70%;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border:1px solid #b2b2b2;

}

input[type=submit] {
	width: 50%;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border:1px solid #b2b2b2;
}

.cadastro {
	width: 50%;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border:1px solid #b2b2b2;
}

h1 {
	font-family:arial ;
	font-size:15px;
}



}